body {
  background-color: rgb(249, 246, 238);
}

a {
  color: rgb(254, 190, 71);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  margin: 80px 0;
}
.app-footer {
  text-align: center;
  margin: 30px 0;
}
